<div>
    <div class="py-4 ">
        <nav class="flex justify-center space-x-4">
            <ul class="flex justify-center gap-4 ">
                <li class="">
                    <a class="text-black hover:text-white" href="{{ path("app_home") }}">Home</a>
                </li>
                <li class="">
                    <a class="" href="{{ path("app_post_card_index") }}">Post Card</a>
                </li>
                <li class="">
                    <a class="text-black hover:text-white" href="{{ path("app_category_index") }}">Category</a>
                </li>
                <li class="">
                    <a class="" href="">Contact</a>
                </li>
                <li class="">
                    <a class="text-black hover:text-white" href="">À propos</a>
                </li>
                {% if app.user %}
                    <li class="">
                        <a class="text-red-500 hover:text-red-700" href="{{ path('app_logout') }}">logout</a>
                    </li>
                {% else %}
                    <li class="">
                        <a class="text-green-500 hover:text-green-700" href="{{ path('app_login') }}">login</a>
                    </li>

                {% endif %}
            </ul>
        </nav>
    </div>
    <!-- je sais pas si je fais comme le haut ou je garde , à tester -->

{# <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between font-monospace">
            <li class="nav-item ">
                <a class="nav-link fw-light text-decoration-underline fs-6" href="#">country</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-light text-decoration-underline fs-6" href="#">country</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-light text-decoration-underline fs-6" href="#">country</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-light text-decoration-underline fs-6" href="#">country</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-light text-decoration-underline fs-6" href="#">country</a>
            </li>
        </nav>
    </div> #}